.index {
  min-height: calc(100vh - 180px);
  background-image: url(../../assets/Abstract.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark;
  color: $white;
  .index__text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    strong {
      color: $accent;
    }
    h1 {
      @include fontS(30px, 30);
      text-align: center;
      margin: 0;
    }
    p {
      margin: 0;
      @include fontS(20px, 20);
      text-align: center;

      margin-bottom: 10px;
    }
    & > span {
      @include fontS(12px, 6);
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
.index__button {
  width: fit-content;
  background-color: $accent;
  border-radius: 5px;
  border: 0;
  padding: 0.7rem 1.5rem;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: $accent;
  }
}

.projects {
  max-height: fit-content;
  text-align: center;

  padding-bottom: 3rem;
  text-shadow: -5px 5px 5px rgba($color: $white, $alpha: 0.4);
  &.dark {
    background-color: $white;

    color: $black;
    text-shadow: -5px 5px 5px rgba($color: $black, $alpha: 0.6);
    .d {
      border: 2px solid $black;
    }
  }
  h1 {
    text-shadow: -5px 5px 5px rgba($color: $accent, $alpha: 0.4);
    color: $accent;
    padding-top: 1rem;
    @include fontS(16px, 16);
  }

  .container {
    flex-wrap: wrap;
    display: flex;
    column-gap: 30px;
    align-items: center;
    row-gap: 30px;
    justify-content: center;
    position: relative;
    flex-direction: column;
  }
}

.d {
  height: 300px;
  max-width: 300px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid $text;
  padding-bottom: 1rem;
  @include fontS(12px, 8);
  cursor: pointer;
}

@media (max-width: 420px) {
  .container {
    width: 100%;
  }
  .projects__item {
    margin: 0 1rem;
    max-width: 300px;
    max-height: 300px;
  }
  .d {
    height: 200px;
    min-width: 0;
    width: 200px;
  }
}
.projects__list {
  flex-wrap: wrap;
  display: flex;
  column-gap: 30px;
  align-items: center;
  row-gap: 30px;
  justify-content: center;
  position: relative;
  flex-direction: row;
}
._active__animation {
  animation: slidein 1s;
}
@keyframes slidein {
  0% {
    opacity: 0;
    transition: 1s;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transition: 1s;

    transform: translateY(0%);
  }
}
