.skills-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.skills-list {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 3rem;
  ul {
    @include fontS(14px, 6);
  }
}
@media (max-width: 546px) {
  .skills-list {
    justify-content: flex-start;
  }
}
