@import './pages/404.scss';
@import './vars.scss';
@import './pages/index.scss';
@import './pages/projects.scss';
@import './pages/skills.scss';
@import './pages/contacts.scss';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Poppins:wght@400;500;700&display=swap');
body,
html {
  margin: 0;
  padding: 0;
  background-color: #171718;
  background-color: $white;

  color: white;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
}
h1 {
  color: $accent;
  @include fontS(30px, 30);
  text-align: center;
  margin: 0;
  padding-top: 1rem;
}
.navbar {
  border-bottom: 1px solid #26292d;
  padding: 20px 0;
  letter-spacing: normal;
  background-color: $dark;
  color: $white;
  a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
  }
}
.navbar__row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 40px;
  row-gap: 20px;
  flex-wrap: wrap;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 80%;
  height: 100%;
}
.navbar__logo {
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
  a {
    font-size: 24px;
  }
  & > a:hover {
    color: $accent;
  }
}
.navbar__navigation {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  align-items: center;
  column-gap: 40px;
  & > a:hover {
    border-bottom: 3px solid $accent;
  }
}
.navbar__color {
  width: 20px;
  height: 100%;
}
.navbar__mode {
  width: 51px;
  height: 26px;
  display: flex;
  box-sizing: border-box;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  order: 9;
  position: relative;
  padding: 5px;
  background-color: #272727;
  border-radius: 50px;

  img {
    width: 16px;
    position: relative;
  }
  &::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    transition: left 0.2s ease-in;
  }
}
.navbar__mode--ligh {
  &::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 26px;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    transition: left 0.2s ease-in;
  }
}
.content {
  min-height: calc(100vh - 78px);
  background-color: $white;
  color: $black;
  &.dark {
    background-color: $bg;
    color: $text;
  }
  .container {
    min-height: fit-content;
  }
}

@media (max-width: 678px) {
  .navbar__navigation {
    margin-right: auto;
  }
}
@media (max-width: 520px) {
  .navbar__row {
    column-gap: 10px;
  }
}

@media (max-width: 420px) {
  .navbar {
    padding-inline: 1rem;
  }

  .container {
    width: 100%;
    padding: 0;
  }
  .navbar__navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 15px;
    align-items: flex-start;
    column-gap: 0;
    & > a:hover {
      border-bottom: 3px solid $accent;
    }
  }
  .navbar__row {
    column-gap: 90px;
  }
}
.footer {
  padding: 40px 0;
  letter-spacing: normal;
  background-color: $dark;
  color: $white;
  text-align: center;
}
p {
  padding: 0;
  margin: 1rem 0 0 0;
}
.footer__nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin: 0 1rem;
    cursor: pointer;
  }
  img:hover {
    transition: 0.2s;
    transform: rotate(180deg);
  }
}
